<?xml version='1.0' encoding='UTF-8' ?>
<configuration>
    <springProfile name='dev'>
        <appender name='Console' class='ch.qos.logback.core.ConsoleAppender'>
            <layout class='ch.qos.logback.classic.PatternLayout'>
                <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
            </layout>
        </appender>
        <logger name='org.springframework' level='INFO'>
            <appender-ref ref='Console' />
        </logger>
        <logger name='com.smart.sbo' level='INFO'>
            <appender-ref ref='Console' />
        </logger>

        <appender name='async' class='net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender'>
            <appender name='json' class='net.logstash.logback.appender.LogstashTcpSocketAppender'>
                <destination>dev.smartiys.com:5000</destination>
                <encoder class='net.logstash.logback.encoder.LogstashEncoder' />
            </appender>
        </appender>

        <logger name='infoLogger' level='INFO'>
            <appender-ref ref='async' />
        </logger>

        <logger name='errorLogger' level='ERROR'>
            <appender-ref ref='async' />
        </logger>
    </springProfile>
    <springProfile name='test'>
        <appender name='Console' class='ch.qos.logback.core.ConsoleAppender'>
            <layout class='ch.qos.logback.classic.PatternLayout'>
                <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
            </layout>
        </appender>
        <logger name='org.springframework' level='INFO'>
            <appender-ref ref='Console' />
        </logger>
        <logger name='com.smart.sbo' level='INFO'>
            <appender-ref ref='Console' />
        </logger>

        <appender name='async' class='net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender'>
            <appender name='json' class='net.logstash.logback.appender.LogstashTcpSocketAppender'>
                <destination>test.smartiys.com:5000</destination>
                <encoder class='net.logstash.logback.encoder.LogstashEncoder' />
            </appender>
        </appender>

        <logger name='infoLogger' level='INFO'>
            <appender-ref ref='async' />
        </logger>

        <logger name='errorLogger' level='ERROR'>
            <appender-ref ref='async' />
        </logger>
    </springProfile>


</configuration>